<div id="create-post" class="well"> 
     <form ng-submit="upload()" class="form-horizontal">
      <h4>Quick Status Update</h4>
       <div class="form-group" style="padding:14px;">
        <textarea class="form-control" type="text" placeholder="What's up with [child-name]?" ng-model="postText"></textarea>
        <input ng-model="creds.access_key" type="text" class="form-control" placeholder="Access Key">
        <input ng-model="creds.secret_key" type="text" class="form-control" placeholder="Secret Key">
        <input ng-model="creds.bucket" type="text" class="form-control" placeholder="Bucket Name">
        <input class="form-control bottom-marg-15" ng-model="file" type="file" name="file" file></input>
      </div>

      <button class="btn btn-primary pull-right" type="submit">Post</button>
      <!-- <a class="btn btn-primary btn-block btn-lg" ng-click="upload()">Upload</a> -->
      </div>      
      <ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
    </form>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
        {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
    </div>
</div>


<!-- below is quickpost w/o image upload - formatting is better on this than above currently -->

<div id="create-todo" class="well"> 
     <form ng-submit="createPost()" class="form-horizontal">
      <h4>Save a Memory</h4>
       <div class="form-group" style="padding:14px;">
        <textarea class="form-control" type="text" placeholder="What's up with [child-name]?" ng-model="storyForm.postText"></textarea>
      </div>
      <button class="btn btn-primary pull-right" type="submit">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-picture"></i></a></li><li><a href=""><i class="glyphicon glyphicon-link"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
    </form>
</div>